<section  class="m-2">
  <h2>Editar Empresa</h2>
  <div class="mb-3">
    <label for="inputNome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="inputNome" [(ngModel)]="empresa.nome" />
  </div>
  <div class="mb-3">
    <label for="inputEndereco" class="form-label">Endereço</label>
    <input type="text" class="form-control" id="inputEndereco" [(ngModel)]="empresa.endereco" />
  </div>

  <div class="mb-3">
    <label for="inputTelefone" class="form-label">Telefone</label>
    <input type="text" class="form-control" id="inputTelefone" [(ngModel)]="empresa.telefone" />
  </div>
  <div class="mb-3">
    <label for="inputNumeroFuncionarios" class="form-label">Quantidade Funcionários</label>
    <input type="text" class="form-control" id="inputNumeroFuncionarios" [(ngModel)]="empresa.numeroFuncionario" />
  </div>

  <div class="text-center">
    <button type="button" class="btn btn-primary m-2" (click)="salvar()">
      Salvar
    </button>

    <button type="button" class="btn btn-secondary m-2" (click)="cancelar()">
      Cancelar
    </button>

  </div>
</section>
